.matchfile
.kdev4/
.zk_install/
.idea
.vscode/

gcov_report/
bin/Linux/thrift
builder/
install/
test_reports/
Dockerfile
include/thrift/
include/dsn/git_commit.h
DSN_ROOT

rdsn.github.config
rdsn.github.creator
rdsn.github.creator.user*
rdsn.github.files
rdsn.github.includes
rDSN.github.*
update_qt_config.sh
zookeeper-3.4.6.tar.gz
zookeeper-3.4.6/

thirdparty/build
thirdparty/src
thirdparty/output

packages/
cmake-build-debug/
