sudo: required
dist: trusty

language: cpp

os: linux

compiler:
    - gcc

cache:
    - ccache

before_install:
    - wget https://raw.githubusercontent.com/xiaomi/pegasus-common/master/build-depends.tar.gz
    - tar xf build-depends.tar.gz
    - cd packages
    - ls | xargs sudo dpkg -i --force-depends
    - cd ..

install:
    - sudo apt-get -f install
    - sudo apt-get -y install libsnappy-dev
    - sudo apt-get -y install libgflags-dev

before_script:
    - cd rdsn/thirdparty
    - wget https://raw.githubusercontent.com/xiaomi/pegasus-common/master/pegasus-thirdparty-prebuild.tar.gz
    - tar xf pegasus-thirdparty-prebuild.tar.gz
    - rm -rf pegasus-thirdparty-prebuild.tar.gz
    - cd ../..
    - ulimit -c unlimited -S

script:
    - ./run.sh build && ./run.sh test

notifications:
    email: false
