language: go

go:
  - 1.12.x
  - 1.13.x

before_install:
  - curl -sfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh| sh -s -- -b $(go env GOPATH)/bin v1.21.0

script:
  - GO111MODULE=on time make ci
