{% extends "static/view/template.html" %}
{% block body %}


<div id="app">
    <div class="container">

        <div class="page-header">
        </div>

        <div class="page-header">
            <h1> <font color= #333333><center>Configuration</center></font>
                <small><center><font color= #778899>Currently used configurations in the target process</font></center></small>
            </h1>
        </div>
        {{state}}

    </div>
<div>

<script src="js/codemirror.js"></script>
<link rel="stylesheet" href="css/codemirror.css">
<link rel="stylesheet" href="css/solarized.css">
<script src="js/toml.js"></script>
<script src="js/vim.js"></script>
<script src="js/vue.js"></script>
<script src="js/configure.js"></script>
<style>
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
}
</style>

{% endblock %}
