{% extends "static/view/template.html" %}
{% block body %}

<style>
.glyphicon:hover {
    background-color: #ffff00;
    cursor: pointer;
}  

table {
  border: 2px solid #42b983;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #42b983;
  color:  #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

</style>
<div id="app">
    <div class="container">
        <div class="page-header">
        </div>

        <div class="page-header">
            <h1> <font color= #333333><center>Machine List</center></font>
                <small><center><font color= #778899></font></center></small>
            </h1>
        </div>
    </div>
   
    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
            <table class="table table-striped">
                <thead>
                    <tr><th>Machine Name</th><th>App Type</th><th>Global Partition Id</th><th>Role</th><th>Working Point</th><th>Kill</th></tr>
                </thead>
                <tbody v-for="(node_index,node) in nodeList.infos">
                    <tr>
                        <td rowspan={{partitionList[node_index].partitions.length}}>{{node.address}}</td>
                        <td>{{partitionList[node_index].partitions[0].app_type}}</td>
                        <td>{{partitionList[node_index].partitions[0].gpid.app_id}}.{{partitionList[node_index].partitions[0].gpid.pidx}}</td>
                        <td>{{partitionList[node_index].partitions[0].role}}</td>
                        <td><a href="analyzer.html?init_machine={{partitionList[node_index].partitions[0].working_point.split(':')[0]}}:{{commonPort}}">{{partitionList[node_index].partitions[0].working_point}}</a></td>
                        <td><span class="glyphicon glyphicon-remove" @click="del(node.address,partitionList[node_index].partitions[0].role,partitionList[node_index].partitions[0].gpid)"></span></td>
                    </tr>
                    <tr v-for="partition_index in (partitionList[node_index].partitions.length-1)">
                        <td>{{partitionList[node_index].partitions[partition_index+1].app_type}}</td>
                        <td>{{partitionList[node_index].partitions[partition_index+1].gpid.app_id}}.{{partitionList[node_index].partitions[partition_index+1].gpid.pidx}}</td>
                        <td>{{partitionList[node_index].partitions[partition_index+1].role}}</td>
                        <td><a href="analyzer.html?init_machine={{partitionList[node_index].partitions[partition_index+1].working_point.split(':')[0]}}:{{commonPort}}">{{partitionList[node_index].partitions[partition_index+1].working_point}}</a></td>
                        <td><span class="glyphicon glyphicon-remove" @click="del(node.address,partitionList[node_index].partitions[partition_index+1].role,partitionList[node_index].partitions[partition_index+1].gpid)"></span></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xs-1"></div>
    </div>

    <div id="info-modal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Info</h4>
          </div>
          <div class="modal-body">
              {{info}}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>

<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.16/vue.min.js"></script>-->
<script src="js/vue.js"></script>
<script src="js/machine.js"></script>

{% endblock %}

