<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--responsive support-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pegasus Collector</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<section class="section">
    <nav class="navbar">
        <h1 class="title">
            Pegasus Collector
        </h1>
    </nav>
</section>
<section class="section">
    <main>
        <table class="table is-bordered is-striped">
            <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {{range .Tables}}
                <tr>
                    <td>{{.TableName}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </main>
</section>

</html>