<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!--responsive support-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pegasus Collector</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
</head>

<nav class="navbar is-info" style="padding-left: 2rem;">
    <div class="navbar-brand">
        <a class="navbar-item" href="/"><strong>Pegasus Collector</strong></a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/tables">
                Tables
            </a>
        </div>
    </div>
</nav>
<main>
    <div class="container" style="padding: 1rem;">
        <table class="table is-bordered is-striped">
            <thead>
                <tr>
                    <th>Table Name</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {{range .Tables}}
                <tr>
                    <td>{{.TableName}}</td>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
</main>

</html>