{% extends "static/view/template.html" %}
{% block body %}

<div id="app">
    <div class="container">
        <div class="page-header">
        </div>

        <div class="page-header">
            <h1> <font color= #333333><center>Queue</center></font>
                <small><center><font color= #778899>Longest queues of your system listed here</font></center></small>
            </h1>
        </div>

    </div>
    <div id="chart"></div>
</div>
<script src="js/vue.js"></script>
<script src="js/queue.js"></script>
{% endblock %}
