{% extends "static/view/template.html" %}
{% block body %}

<style>

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}
.glyphicon:hover {
    background-color: #ffff00;
    cursor: pointer;
}

table {
  width: 80%;
  table-layout: fixed;
  border: 2px solid #005A31;
  border-radius: 3px;
  background-color: #fff;
}

th {
  background-color: #005A31;
  color:  #fff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -user-select: none;
}

td {
  background-color: #f9f9f9;
  word-wrap:break-word;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

</style>

<div class="container">

	<div class="page-header">
	</div>

	<div class="page-header">
        <h1> <font color= #333333><center>rDSN App Store</center></font>
			<small><center><font color= #778899></font></center></small>
		</h1>
	</div>

</div>
<div class="container" style="margin-top:20px;">
    <div class="row">
        <table class="table table-striped" id="packList">
        <thead>
        <tr>
            <th>Icon</th>
            <th>Name</th>
            <th>Author</th>
            <th>Description</th>
            <th>Files</th>
            <th>Details</th>
            <th>Composition Stub</th>
            <th>Running instance</th>
            <th>Deploy</th>
            <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <button class="btn btn-success" data-toggle="modal" data-target="#uploadpack1">App Registration </button>
        </div>
    </div>
</div>


<script>
$( document ).ready(function() {
    $("#source").val(window.location.href);
});
</script>

<style>
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    background: #f44c0e;
}

/* CSS REQUIRED */
.state-icon {
    left: -5px;
}
.list-group-item-primary {
    color: rgb(255, 153, 51);
    background-color: rgb(255, 153, 51);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
    margin-bottom: 0px;
}
</style>

<!-- Upload Package Modal -->
<div id="uploadpack1" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">App Registration -- Step 1</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">
                <label for="packname"  >App Name</label>
                <input id="packname" disabled="disabled">
            </div>
            <div class="col-xs-4">
                <label for="author" >Author</label>
                <input id="author">
            </div>
            <div class="col-xs-4">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="description" >Descrption</label>
                <textarea class="form-control" rows="2" id="description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <label for="if_stateful" > If stateful</label>
                <select class = "form-control" id = "if_stateful">
                  <option value = "false">false</option>
                  <option value = "true">true</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <form name="fileForm" method="post" onsubmit="return validateForm()" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-xs-12">
                        <input id="iconpath" placeholder="Choose File" disabled="disabled" />
                        <div class="fileUpload btn btn-info"><span>Select Icon</span><input type="file" name="iconToUpload" id="iconToUpload" class="upload" accept=".jpg"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <input id="filepath" placeholder="Choose File" disabled="disabled" />
                        <div class="fileUpload btn btn-warning"><span>Select Package</span><input type="file" name="fileToUpload" id="fileToUpload" class="upload" accept=".7z"></div>
                    </div>
                </div>
                <input id="source" name="source" type="hidden" value=""></input>
                <input id="file_name" name="file_name" type="hidden" value=""></input>
                <input id="author" name="author" type="hidden" value=""></input>
                <input id="description" name="description" type="hidden" value=""></input>
                <input id="cluster_type" name="cluster_type" type="hidden" value=""></input>
                <input id="schema_info" name="schema_info" type="hidden" value=""></input>
                <input id="server_type" name="server_type" type="hidden" value=""></input>
                <input id="schema_type" name="schema_type" type="hidden" value=""></input>
                <input id="parameters" name="parameters" type="hidden" value=""></input>
                <input id="if_stateful" name="if_stateful" type="hidden" value=""></input>
                </form>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class = "pull-left">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
        <div class = "pull-right">
            <button type="button" class="btn btn-info" data-toggle="modal" data-dismiss="modal" data-target="#uploadpack2">Next</button>
        </div>
      </div>
    </div>

  </div>
</div>

<div id="uploadpack2" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">App Registration -- Step 2</h4>
      </div>
      <div class="modal-body">
        <div class = "row">
          <div class="col-xs-12">
            <label for="schema_info_in" >schema information</label>
            <textarea class="form-control" rows="2" id="schema_info_in"> </textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="schema_type_in" >schema type</label>
            <select class = "form-control" id = "schema_type_in">
              <option value = "thrift">thrift</option>
              <option value = "bond">bond</option>
              <option value = "protobuf">protocol buffers</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <label for="server_type_in" >runtime type</label>
            <select class = "form-control" id = "server_type_in">
              <option value = "rdsn">rdsn</option>
              <option value = "thrift">thrift</option>
              <option value = "bond">bond</option>
              <option value = "protobuf">protocol buffers</option>
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class = "pull-left">
          <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#uploadpack1">Previous</button>
        </div>
        <div class = "pull-right">
          <button type="button" class="btn btn-info" data-toggle="modal" data-dismiss="modal" data-target="#uploadpack3">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="uploadpack3" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">App Registration -- Step 3</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-xs-12">
            <label>Supported Cluster Type</label>
            <div class="well" style="max-height: 300px;overflow: auto;">
              <ul id="check-list-box" class="list-group checked-list-box">
                <li class="list-group-item" index="kubernetes">kubernetes</li>
                <li class="list-group-item" index="docker">docker</li>
                <li class="list-group-item" index="bare_medal_linux">bare_medal_linux</li>
                <li class="list-group-item" index="bare_medal_windows">bare_medal_windows</li>
                <li class="list-group-item" index="rdsn_linux">rdsn_linux</li>
                <li class="list-group-item" index="rdsn_windows">rdsn_windows</li>
              </ul>
            </div>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-9">
            <label>Deployment Parameters</label>
          </div>
          <div class = "col-xs-3">
            <button type = "button" class = "btn btn-warning" id = "add_param_btn">Add Parameter</button>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-12">
            <table class = "table table-striped" id = "param_input_list">
              <thead>
                <tr>
                  <th>Key</th>
                  <th>Value</th>
                  <th>Remove</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class = "pull-left">
          <button type="button" class="btn btn-info" data-dismiss="modal" data-toggle="modal" data-target="#uploadpack2">Previous</button>
        </div>
        <div class = "pull-right">
          <button type="button" class="btn btn-success" data-dismiss="modal" onclick="getClusterType();$('form[name=\'fileForm\']').submit();">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Detail Modal-->
<div id = "detail_modal" class = "modal fade" role = "dialog">
  <div class = "modal-dialog">
    <!-- modal content -->
    <div class = "modal-content">
      <div class = "modal-header">
        <button type = "button" class = "close" data-dismiss = "modal">&times;</button>
        <h4 class = "modal-title text-danger" id = "detail_app_name">Detail Infomation</h4>
      </div>
      <div class = "modal-body">
        <div class = "row">
          <div class = "col-xs-12">
            <label>Schema Info : </label>
            <p id = "detail_schema_info" class = "text-success"></p>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-6">
            <label>Schema Type : </label>
            <p id = "detail_schema_type" class = "text-success"></p>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-6">
            <label>Server Type : </label>
            <p id = "detail_server_type" class = "text-success"></p>
          </div>
        </div>
        <div class = "row">
          <div class = "col-xs-12">
            <label for="detail_parameters">Parameters : </label>
            <table class = "table table-striped text-success" id = "detail_parameters">
              <thead>
                <tr>
                  <th><span class = "text-muted">Key</span></th>
                  <th><span class = "text-muted">Value</span></th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Deploy Modal -->
<div id="deploypack" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">App Deploy</h4>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-4">
                <label for="app_name" >App Name</label>
                <input id="app_name">
            </div>
            <div class="col-xs-4"></div>
            <div class="col-xs-4"></div>
        </div>
        <div class="row">
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label for="partition_count" >Partition Count</label>
                <input id="partition_count">
            </div>
            <div class="col-xs-4">
                <label for="replica_count" >Replica Count</label>
                <input id="replica_count">
            </div>
            <div class="col-xs-4">
                <label for="success_if_exist" >Success if exists</label>
                <select class = "form-control" id = "success_if_exist">
                  <option value = "true">true</option>
                  <option value = "false">false</option>
                </select>
            </div>
        </div>
        <div class="row">
            <hr>
        </div>
        <input id="package_id_to_deploy" name="package_id_to_deploy" type="hidden" value=""></input>
        <input id="if_stateful_to_deploy" name="if_stateful_to_deploy" type="hidden" value=""></input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="DeployPackage();">Deploy</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<script src="js/store.js"></script>

{% endblock %}
