{% extends "static/view/template.html" %}
{% block body %}
<div class="container">

	<div class="page-header">
	</div>

	<div class="page-header">
        <h1> <font color= #333333><center>Data Table</center></font>
			<small><center><font color= #778899>Here lists all task latency data</font></center></small>
		</h1>
	</div>

</div>

<link href="https://cdn.datatables.net/1.10.9/css/jquery.dataTables.min.css" rel="stylesheet">
<div class="dropdown">
<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"  data-toggle="tooltip" title="Choose percentile type">
	Show Percent ({{CURR_PERCENT}}%) <span class="caret"></span></button>
	<ul class="dropdown-menu" role="menu">
		<li><a href="?curr_percent=ALL">ALL</a></li>
		<li><a href="?curr_percent=50">50%</a></li>
		<li><a href="?curr_percent=90">90%</a></li>
		<li><a href="?curr_percent=95">95%</a></li>
		<li><a href="?curr_percent=99">99%</a></li>
		<li><a href="?curr_percent=999">99.9%</a></li>
	</ul>
</div>
<table id="table" class="display" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Task Type</th>
                <th>Percent</th>
                <th>Queue Time(ns)</th>
                <th>Exec Time(ns)</th>
                <th>Throughput(#/s)</th>
                <th>Cancelled(#)</th>
                <th>Aio Latency(ns)</th>
                <th>RPC Server Latency(ns)</th>
                <th>RPC Client Latency(ns)</th>
                <th>Timeout(#/s)</th>
            </tr>
        </thead>
 
        <tbody>
	{% for row in TABLE %}
	{% if row[1] == CURR_PERCENT+"%" or CURR_PERCENT == 'ALL'%}
	<tr>
	{% for data in row %}
	<td>{{data}}</td>
	{% endfor %}
	</tr>
	{% endif %}
	{% endfor %}

	

        </tbody>
    </table>


    
<script>
$(document).ready(function() {
    $('#table').DataTable();
} );

</script>
{% endblock %}
