{% extends "static/view/template.html" %}
{% block body %}
<link href="css/task_analyzer.css" rel="stylesheet" type="text/css">

<div id="app">
    <div id="wrapper" class="toggled">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
              <li>&nbsp</li>
              <li class="sidebar-brand"><a href="#">Task List</a></li>
              <li v-for="task in taskList | filterBy taskFilter" :class="[task==currentTask?'active':'']" @click="setcurrentTask(task)">
                {{task}}
              </li>
            </ul>
        </div>
        <div id="page-content-wrapper" >
            <div class="container-fluid">
                    <div class="page-header">
                    </div>

                    <div class="page-header">
                        <h1> <font color= #333333><center>Task Analyzer</center></font>
                            <small><center><font color= #778899>Deeper in tasks</font></center></small>
                        </h1>
                    </div>
                    
                    <label for="taskFilter">Filter by: &nbsp</label>
                    <input id="taskFilter" v-model="taskFilter">
                    <label>Current Task: &nbsp{{currentTask}}</label>
                    <div class="row">
                        <div class="col-xs-8">
                            <button class="btn btn-info dropdown-toggle" @click="collapse">
                                <div v-if="if_collapsed">>></div>
                                <div v-else><<</div>
                            </button>
                            <button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#call">Caller/Callee tasks</button>
	                        <button class="btn btn-success dropdown-toggle" data-toggle="collapse" data-target="#linkgraph" v-if="sankeyLinks.length>0">Call link graph</button>
	                        <button class="btn btn-danger" v-else>No call link</button>
	                        <button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#sharer" >Tasks sharing the same threads</button>
                        </div>
                        <div class="col-xs-4"></div>
                    </div>
                    
                    
                    <div id="call" class="collapse">
                        <div class="row">
                            <div class="col-xs-6">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Callers</th>
                                            <th># of calls</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="caller in caller_list">
                                            <td><a @click="setcurrentTask(caller.name)">{{caller.name}}</a></td>
                                            <td>{{caller.num}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-xs-6">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Callees</th>
                                            <th># of calls</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="callee in callee_list">
                                            <td><a @click="setcurrentTask(callee.name)">{{callee.name}}</a></td>
                                            <td>{{callee.num}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div id="linkgraph" class="collapse">
                            <div id="chart_dep"></div>
                        </div>	
                    </div>
                    <div id="sharer" class="collapse">
                        <ul>
                            <li class="list-group-item" v-for="sharer in sharer_list"><a @click="setcurrentTask(sharer)">{{sharer}}</a></li>
                        </ul>
                    </div>

                    <div id="chart"></div>

                    <div class="btn-group">
	                    <button class="btn btn-primary dropdown-toggle" data-toggle="collapse" data-target="#pic" data-toggle="tooltip" title="A help graph for RPC">Show help graph</button>
                    </div>

                    <div id="pic" class="collapse">
                        <center><img src="img/helpgraph.jpg" class="img-rounded" alt="Cinque Terre" width="650" height="425"></center>
                    </div>
            </div>
        </div>
    </div>
</div>

<script src="js/bihisankey.js"></script>
<script src="js/sankey_d3.js"></script>
<script src="js/vue.js"></script>
<script src="js/task_analyzer.js"></script>
{% endblock %}
