@ECHO OFF
mkdir rdsn
mkdir rdsn\include
mkdir rdsn\include\ext
mkdir rdsn\lib
mkdir rdsn\bin
xcopy /E /Y /Q ${WIN_SOURCE_TOP_DIR}\bin rdsn\bin
xcopy /E /Y /Q ${WIN_SOURCE_TOP_DIR}\include rdsn\include
xcopy /E /Y /Q ${WIN_BINARY_TOP_DIR}\lib rdsn\lib
xcopy /E /Y /Q ${WIN_BINARY_TOP_DIR}\bin\${CMAKE_BUILD_TYPE} rdsn\lib
xcopy /E /Y /Q ${WIN_THRIFT_INCLUDE_DIR} rdsn\include\ext
xcopy /E /Y /Q ${WIN_THRIFT_LIB_DIR} rdsn\lib
xcopy /E /Y /Q ${WIN_PROTOBUF_LIB_DIR} rdsn\lib
copy /Y ${WIN_PROTOBUF_BIN_DIR}\protoc.exe rdsn\bin\Windows
xcopy /E /Y /Q ${WIN_PROTOBUF_INCLUDE_DIR} rdsn\include\ext
xcopy /E /Y /Q ${WIN_BOOST_INCLUDE_DIR} rdsn\include\ext