# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
---
# Developer Notes:
#
# This config is for github actions. Before merging your changes of this file,
# it's recommended to create a PR against the ci-test branch to test if it works
# as expected.

name: Code Lint and Unit Test

on:
  # run on each pull request
  pull_request:
    types: [ synchronize, opened, reopened ]
    paths:
      - src
      - rdsn
      - run.sh
    branches:
      - master
      - 'v[0-9]+.*' # release branch
      - ci-test # testing branch for github action
      - '*dev'

  # for manually triggering workflow
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    container:
      image: apache/pegasus:clang-format-3.9
    steps:
      - uses: actions/checkout@v2
        with:
            fetch-depth: 1
            submodules: true
      - name: clang-format
        run: ./rdsn/scripts/linux/run-clang-format.py --clang-format-executable clang-format-3.9 -e ./src/shell/linenoise -e ./src/shell/sds -e ./rdsn -r ./src

  test:
    name: Test
    needs: lint
    runs-on: ubuntu-latest
    container:
      image: apachepegasus/thirdparties-bin:ubuntu1804
    defaults:
      run:
        shell: bash
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Unpack prebuilt third-parties
        run: unzip /root/thirdparties-bin.zip -d ./rdsn/thirdparty
      - name: Compilation
        run: ./run.sh build -c --skip_thirdparty
      -
        name: Packaging Server
        run: ./run.sh pack_server
      -
        name: Packaging Tools
        run: ./run.sh pack_tools
      - name: Unit Testing
        run: |
          source ./scripts/config_hdfs.sh
          ./run.sh test --on_travis
